{% extends "error.html.twig" %}
{% block title %}500{% endblock %}
{% block body %}


	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
			<h1>Oops!</h1>
			</div>
			<h2>500 - unknown error</h2>
			<p>Something has gone wrong .</p>
			<a href="{{ path('app_homepage')}}">Go To Homepage</a>
		</div>
	</div>
    
{% endblock %}