{% extends 'base.html.twig' %}

{% block title %}<title>Quantum - Service rendu</title>{% endblock %}

{% block banner %}

  <div id="banner-area" class="banner-area" style="background-image:url(/assets/images//banner/banner1.jpg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Services rendus</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="#">Services</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Services rendus</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 

{% endblock %}

{% block content %}

  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="shuffle-btn-group">
            <label class="active" for="all">
              <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">TOUT
            </label>
            <label for="reseau">
              <input type="radio" name="shuffle-filter" id="reseau" value="reseau">RÉSEAU
            </label>
            <label for="distribution">
              <input type="radio" name="shuffle-filter" id="distribution" value="distribution">DISTRIBUTION
            </label>
            <label for="maintenance">
              <input type="radio" name="shuffle-filter" id="maintenance" value="maintenance">MAINTENANCE
            </label>
            <label for="formation">
              <input type="radio" name="shuffle-filter" id="formation" value="formation">FORMATION
            </label>
            <label for="consultance">
              <input type="radio" name="shuffle-filter" id="consultance" value="consultance">CONSULTANCE
            </label>
            <label for="autres">
              <input type="radio" name="shuffle-filter" id="autres" value="autres">AUTRES
            </label>
          </div><!-- project filter end -->


          <div class="row shuffle-wrapper">
            <div class="col-1 shuffle-sizer"></div>

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;maintenance&quot;,&quot;autres&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="/assets/images//projects/project1.jpg" aria-label="project-img">
                  <img class="img-fluid" src="/assets/images//projects/project1.jpg" alt="project-img">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="projects-single.html"> tortor pretium dictum</a>
                    </h3>
                    <p class="project-cat">Réseau, Autre</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 1 end -->

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;autres&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="/assets/images//projects/project2.jpg" aria-label="project-img">
                  <img class="img-fluid" src="/assets/images//projects/project2.jpg" alt="project-img">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="projects-single.html">Nulla ex purus</a>
                    </h3>
                    <p class="project-cat">Autres</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 2 end -->

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;formation&quot;,&quot;reseau&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="/assets/images//projects/project3.jpg" aria-label="project-img">
                  <img class="img-fluid" src="/assets/images//projects/project3.jpg" alt="project-img">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="projects-single.html">dui non imperdiet sagittis</a>
                    </h3>
                    <p class="project-cat">Formation</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 3 end -->

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;distribution&quot;,&quot;formation&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="/assets/images//projects/project4.jpg" aria-label="project-img">
                  <img class="img-fluid" src="/assets/images//projects/project4.jpg" alt="project-img">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="projects-single.html">id ornare neque metus ac</a>
                    </h3>
                    <p class="project-cat">Formation</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 4 end -->

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;formation&quot;,&quot;distribution&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="/assets/images//projects/project5.jpg" aria-label="project-img">
                  <img class="img-fluid" src="/assets/images//projects/project5.jpg" alt="project-img">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="projects-single.html">Nulla ex purus</a>
                    </h3>
                    <p class="project-cat">Distribution</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 5 end -->

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;consultance&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="/assets/images//projects/project6.jpg" aria-label="project-img">
                  <img class="img-fluid" src="/assets/images//projects/project6.jpg" alt="project-img">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="projects-single.html">nisl sed nunc suscipit</a>
                    </h3>
                    <p class="project-cat">Consultance</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 6 end -->
          </div><!-- shuffle end -->
        </div>


      </div><!-- Content row end -->

    </div><!-- Conatiner end -->
  </section><!-- Main container end -->


{% endblock %}

